@import bourbon/bourbon
@import grid_settings
@import neat/neat

$color-main:        #222832
$color-accent-low:  #66D8D5
$color-accent-high: #EC7077
$color-contrast:    #FFF

$aside-height: 3em

@keyframes blink
  0%
    opacity: 0
  67%
    opacity: 1
  100%
    opacity: 0

@font-face
  font-family: "Computer"
  src: url(../media/Computerfont.ttf) format("truetype")

::selection
  background-color: $color-accent-low

body
  margin:  0
  padding: 0

  font-family: "Roboto Slab", slab, sans-serif
  font-size:   16px
  color:       $color-main

h1, h2, h3, h4, h5, h6
  margin: 0

  line-height: 1em
  font-weight: 400

h1
  font-family: Computer, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace
  position: relative

  font-size: 3em

h2
  font-family: "Rock Salt", cursive
  color: $color-accent-low

  font-size: 1em

p
  line-height: 1.5
  font-weight: 300

a
  text-decoration: none

  color: $color-accent-high
  &:hover,
  &:focus
    color: $color-accent-low

li
  list-style-type: circle

header
  text-align: center

aside
  +fill-parent

  position: fixed
  top:      0
  z-index:  100

  height: $aside-height

article
  max-width: 100%
  overflow:  hidden

  > section,
  > header
    +clearfix

#logotype,
#who-we-are
  color: $color-contrast

#who-we-are
  padding: 1em
  +media($laptop-plus)
    padding: 2em

#logotype
  min-height: 75vh

  display:         flex
  align-items:     center
  justify-content: center

  h1
    font-size: 4em
    +media($tablet-plus)
      font-size: 5em

  h2
    font-size: 1em
    +media($tablet-plus)
      font-size:  1.5em
      margin-top: -1.5em

  em
    color: $color-accent-high

#what-we-do
  +fill-parent
  height: 100%
  display: block

  > header
    padding: 2em

  .item
    padding: 1em

    header
      color: $color-accent-high
    &:nth-child(even)
      header
        color: $color-accent-low

  +media($laptop-plus)
    > header
      +span-columns(4)
      min-height: 100%
      text-align: left

    .detail
      +span-columns(8)
      padding: 2em

    .item
      +span-columns(4 of 8)
      +omega(2n)

      padding: 0

      &:nth-child(even)
        header
          color: $color-accent-high

      &:nth-child(3n-2)
        header
          color: $color-accent-low

  .scan
    z-index: 50
    overflow: hidden

#logo-mini
  margin: 5px
  float:  left

  font-family: "Computer", sans-serif
  font-size:   2em
  color:       $color-accent-low

#hire-us
  font-size: 1em
  float:     right

  margin-right: 5px

#contact
  +fill-parent
  +outer-container
  text-align: center
  padding: 2em

  +media($tablet-plus)
    > section
      +span-columns(6 of 12)

.human
  margin: 0.5em

  font-family: "Rock Salt"
  font-size:   0.5em
  color:       $color-accent-high

.staff
  +fill-parent
  +clearfix

  margin-top: 2em

  > header,
  > footer
    +fill-parent
    +clearfix

    text-align: left

  +media($laptop-plus)
    .detail
      +clearfix

      > section
        +span-columns(6)
        +omega(2n)

.drop
  +media($tablet-plus)
    font-size: 1.5em
    vertical-align: -42%

.raise
  font-size: 0.75em
  vertical-align: 50%

.scan
  &.lines
    background-color: $color-main
    background-image: linear-gradient(transparent 75%, rgba(darken($color-main, 5%), 0.5) 50%)
    background-size: 5px 5px

  &.text
    +fill-parent
    height: 100%

    position: absolute
    display:  block

    background: linear-gradient(transparent 75%, rgba(white, 0.1) 50%) 5px 5px
    background-size: 5px 5px

.blink
  animation: blink 2s step-start infinite
  font-weight: 900

  &:after
    content: "_"
