html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@keyframes blink {
  0% {
    opacity: 0; }
  67% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@font-face {
  font-family: "Computer";
  src: url(../media/Computerfont.ttf) format("truetype"); }
::selection {
  background-color: #66D8D5; }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", slab, sans-serif;
  font-size: 16px;
  color: #222832; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1em;
  font-weight: 400; }

h1 {
  font-family: Computer, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  position: relative;
  font-size: 3em; }

h2 {
  font-family: "Rock Salt", cursive;
  color: #66D8D5;
  font-size: 1em; }

p {
  line-height: 1.5;
  font-weight: 300; }

a {
  text-decoration: none;
  color: #EC7077; }
  a:hover, a:focus {
    color: #66D8D5; }

li {
  list-style-type: circle; }

header {
  text-align: center; }

aside {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  height: 3em; }

article {
  max-width: 100%;
  overflow: hidden; }
  article > section::after,
  article > header::after {
    clear: both;
    content: "";
    display: table; }

#logotype,
#who-we-are {
  color: #FFF; }

#who-we-are {
  padding: 1em; }
  @media screen and (min-width: 768px) {
    #who-we-are {
      padding: 2em; } }

#logotype {
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  #logotype h1 {
    font-size: 4em; }
    @media screen and (min-width: 480px) {
      #logotype h1 {
        font-size: 5em; } }
  #logotype h2 {
    font-size: 1em; }
    @media screen and (min-width: 480px) {
      #logotype h2 {
        font-size: 1.5em;
        margin-top: -1.5em; } }
  #logotype em {
    color: #EC7077; }

#what-we-do {
  width: 100%;
  height: 100%;
  display: block; }
  #what-we-do > header {
    padding: 2em; }
  #what-we-do .item {
    padding: 1em; }
    #what-we-do .item header {
      color: #EC7077; }
    #what-we-do .item:nth-child(even) header {
      color: #66D8D5; }
  @media screen and (min-width: 768px) {
    #what-we-do > header {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 31.91489%;
      min-height: 100%;
      text-align: left; }
      #what-we-do > header:last-child {
        margin-right: 0; }
    #what-we-do .detail {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 65.95745%;
      padding: 2em; }
      #what-we-do .detail:last-child {
        margin-right: 0; }
    #what-we-do .item {
      float: left;
      display: block;
      margin-right: 3.22581%;
      width: 48.3871%;
      padding: 0; }
      #what-we-do .item:last-child {
        margin-right: 0; }
      #what-we-do .item:nth-child(2n) {
        margin-right: 0; }
      #what-we-do .item:nth-child(2n+1) {
        clear: left; }
      #what-we-do .item:nth-child(even) header {
        color: #EC7077; }
      #what-we-do .item:nth-child(3n-2) header {
        color: #66D8D5; } }
  #what-we-do .scan {
    z-index: 50;
    overflow: hidden; }

#logo-mini {
  margin: 5px;
  float: left;
  font-family: "Computer", sans-serif;
  font-size: 2em;
  color: #66D8D5; }

#hire-us {
  font-size: 1em;
  float: right;
  margin-right: 5px; }

#contact {
  width: 100%;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 2em; }
  #contact::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 480px) {
    #contact > section {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 48.93617%; }
      #contact > section:last-child {
        margin-right: 0; } }

.human {
  margin: 0.5em;
  font-family: "Rock Salt";
  font-size: 0.5em;
  color: #EC7077; }

.staff {
  width: 100%;
  margin-top: 2em; }
  .staff::after {
    clear: both;
    content: "";
    display: table; }
  .staff > header,
  .staff > footer {
    width: 100%;
    text-align: left; }
    .staff > header::after,
    .staff > footer::after {
      clear: both;
      content: "";
      display: table; }
  @media screen and (min-width: 768px) {
    .staff .detail::after {
      clear: both;
      content: "";
      display: table; }
    .staff .about {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 65.95745%; }
      .staff .about:last-child {
        margin-right: 0; }
    .staff .specializations {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 31.91489%;
      margin-right: 0; }
      .staff .specializations:last-child {
        margin-right: 0; } }

@media screen and (min-width: 480px) {
  .drop {
    font-size: 1.5em;
    vertical-align: -42%; } }

.raise {
  font-size: 0.75em;
  vertical-align: 50%; }

.scan.lines {
  background-color: #222832;
  background-image: linear-gradient(transparent 75%, rgba(24, 28, 35, 0.5) 50%);
  background-size: 5px 5px; }
.scan.text {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background: linear-gradient(transparent 75%, rgba(255, 255, 255, 0.1) 50%) 5px 5px;
  background-size: 5px 5px; }

.blink {
  animation: blink 2s step-start infinite;
  font-weight: 900; }
  .blink:after {
    content: "_"; }

/*# sourceMappingURL=style.css.map */
