$font-main:   'Open Sans', sans-serif;
$font-header: 'Exo', sans-serif;

$color-main:   #495572;

$color-base: #F2FDFF;
$color-fill: #DDF0F3;

$color-accent: #7042E1;

$color-highlight: #00CEF0;
$color-lowlight:  #FFF;

body {
  font-family:      $font-main;
  background-color: $color-base;
  color: $color-main;
  font-size: 20px;

  font-weight: 400;

  // WHY DO I HAVE TO DO THIS?!
  position: absolute;
  top: 0;
  width: 100vw;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: $color-accent;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-header;
  margin:  0;
  padding: 0;
  font-weight: 500;
}

h1 {
  font-weight: 900;
  font-size: 32px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-weight: 700;
}

p {
  margin-top: 0;
}

footer.sticky {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 96px;
  text-transform: uppercase;
  font-size: 18px;
  opacity: 0.5;
}

.brand {
  font-weight: 800;
  font-style:  italic;
  text-transform: uppercase;
  width: calc(100% - 16px);

}

.page {
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  padding-top: 168px;

  &:first-child {
    padding-top: 24px;
  }

  align-items: flex-start;
  align-content: flex-start;
}

#contact {
  min-height: calc(100vh - 168px);
  text-align: center;
  /* background: linear-gradient(to bottom, transparent, $color-base 10%, $color-base); */
}

.full {
  width: 100%;
  margin-bottom: 24px;

  align-self: stretch;
}

.column {
  width: 50%;
  flex: 1;
  padding: 0;
  margin: 0;

  &:nth-child(even) {
    padding-right: 40px;
  }

  &:nth-child(odd) {
    padding-left: 40px;
  }
}

.accordion {
  margin: 0;
  padding: 0;

  li {
    border-bottom: thin solid $color-accent;
    list-style: none;
  }
}

.card {
  border-radius: 4rem;

  width: 100%;
  max-width:  1280px;

  min-height: 80vh;
  max-height: 864px;

  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: $color-highlight;
}

.circle {
  border-radius: 100px;

  width: 3rem;
  height: 3rem;
  line-height: 3.25rem;

  text-align: center;

  background-color: $color-lowlight;

  color: $color-accent;
  box-shadow: 0px 8px 16px rgba(73, 85, 114, 0.5);
  transition: all 400ms ease-in;

  &:hover,
  &:focus {
    box-shadow: 0px 8px 16px rgba(73, 85, 114, 0.9);
  }

  &:active {
    box-shadow: 0px 4px 8px rgba(73, 85, 114, 0.7);
    transition: all 400ms ease-out;
  }
}

#page-nav {
  position: fixed;
  z-index:  100;
  left:     1.5rem;
  top:      50vh;
  margin-top: -3rem;
  color: $color-accent;

  ul {
    list-style: none;
    padding: 0;
  }

  li:hover {
    cursor: pointer;

    &[tooltip]::before,
    &[tooltip]::after {
      display: inline-block;
    }
  }

  a {
    max-height: 22px;
    line-height: 22px;
    overflow-y: hidden;
    margin: 0;
    display: inline-block;

    &::before {
      content: '◯';
    }

    &.current-nav,
    &:hover,
    &:focus {
      &::before {
        font-size: 22px;
        margin-left: -1px;
        content: '◉';
      }
    }
  }
}

#wrapper {
  position: relative;
  /* max-width: 1128px; */
  max-width: 1368px;
  width: calc(100vw - 144px);
  margin:     0 auto;
  margin-top: 48px;

  display: flex;
  flex-flow: row wrap;
}

#hero {
  .card {
    background-image: url('./images/toy-robots-blue-hd.jpg');
    background-size: cover;
    background-position: bottom right;

    position: relative;
  }

  header {
    position: absolute;
    top: 50%;
    left: 48px;
    transform: translateY(-50%);

    line-height: 1.5;
  }

  .circle {
    margin-top: 48px;
  }
}

[tooltip]{
  position: relative;
}

[tooltip]::before {
  content: "";
  position: absolute;
  border-width: 6px 5px 0 5px; /* depth | bottom diag | right | top diag */
  border-style: solid;
  border-color: $color-main transparent transparent transparent;
  z-index: 100;

  top: 9px;
  left: 20px;
  transform: rotate(90deg);

  display: none;
}

[tooltip]::after {
  content: attr(tooltip);
  position: absolute;
  top: -4px;
  left: 26px;
  background: $color-main;
  text-align: center;
  color: $color-base;
  padding: 8px;
  font-size: 0.8rem;
  /* min-width: 80px; */
  white-space: nowrap;
  border-radius: 8px;
  pointer-events: none;
  display: none;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
}

.fader {
  transition: all 1500ms ease;
  width: 192px;
  height: 192px;
  margin: 0 0 16px 16px;
  background-color: $color-lowlight;
  border: 2px solid $color-main;
  border-radius: 8px;
  overflow: hidden;
  background-size: 80%;
  background-position: center center;
  background-repeat: no-repeat;

  figcaption {
    opacity: 0;
    background-color: $color-accent;
    height: 100%;
    width: 100%;
    color: white;
    padding: 8px;

    transition: all 600ms ease;
  }

  &:hover {
    margin-top: -8px;
    border-color: $color-accent;

    figcaption {
      opacity: 1;

      min-width:  100%;
      min-height: 100%;
    }
  }
}

.top-logo {
  margin: 0;
  top: 24px;
  left: 50vw;
  transform: translate(-50%);
  text-transform: uppercase;
  font-style: italic;
  position: absolute;

  font-size: 24px;
  z-index: -10;
}

#robot {
  margin-left: -72px;
}

#overlord {
  margin-left: 88px;
}

#logo {
  position: fixed;

  transform: translate(-50%);

  svg {
    height: 24px;
    width: 48px;

    path {
      fill: $color-main;
    }
  }
}

.wild {
  margin: 8px;
  width:  192px;
  height: 192px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: inline-block;
  border-radius: 8px;
}

#brooke_0 {
  background-image: url("./images/brooke_0.gif");
}

#brooke_5 {
  background-image: url("./images/brooke_5.gif");
}

#brooke_8 {
  background-image: url("./images/brooke_8.gif");
}

#brooke_9 {
  background-image: url("./images/brooke_9.gif");
}

#exceptional {
  background-image: url("https://github.com/expede/exceptional/blob/master/branding/logo.png?raw=true");
}

#quark {
  background-image: url("https://github.com/expede/quark/blob/master/brand/logo.png?raw=true");
}

#algae {
  background-image: url("https://github.com/expede/algae/blob/master/brand/mini-logo.png?raw=true");
}

#operator {
  background-image: url("https://github.com/expede/operator/blob/master/brand/logo.png?raw=true");
}

#witchcraft {
  background-size: 50%;
  background-image: url("https://github.com/expede/witchcraft/blob/master/brand/Icon/PNG/WC-icon-sml@2x.png?raw=true");
}

#type_class {
  background-image: url("https://github.com/expede/type_class/blob/master/brand/logo.png?raw=true");
}
