html {
  background: red; }

body {
  font-family: "Open Sans", sans-serif;
  background-color: #F2FDFF;
  color: #495572;
  font-size: 20px;
  /* max-width: 100vw; */
  font-weight: 400;
  position: absolute;
  top: 0;
  width: 100vw; }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Exo", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 500; }

h1 {
  font-weight: 900; }

h2 {
  font-size: 40px; }

h3 {
  font-weight: 700; }

p {
  margin-top: 0; }

footer.sticky {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 96px;
  text-transform: uppercase;
  font-size: 18px;
  opacity: 0.5; }

.brand {
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase; }

.page {
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 168px;
  align-items: flex-start;
  align-content: flex-start; }
  .page:first-child {
    padding-top: 24px; }

#contact {
  min-height: calc(100vh - 168px); }

.full {
  width: 100%;
  margin-bottom: 24px;
  align-self: stretch; }

.column {
  width: 50%;
  flex: 1;
  padding: 0;
  margin: 0; }
  .column:nth-child(even) {
    padding-right: 40px; }
  .column:nth-child(odd) {
    padding-left: 40px; }

.accordion {
  margin: 0;
  padding: 0; }
  .accordion li {
    border-bottom: thin solid #7042E1;
    list-style: none; }

.card {
  border-radius: 4rem;
  width: 100%;
  max-width: 1280px;
  min-height: 80vh;
  max-height: 864px;
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: #00CEF0; }

.circle {
  border-radius: 100px;
  width: 3rem;
  height: 3rem;
  line-height: 3.25rem;
  text-align: center;
  background-color: #FFF;
  color: #7042E1;
  box-shadow: 0px 8px 16px rgba(73, 85, 114, 0.5); }

#logo {
  position: fixed;
  top: 24px;
  left: 50vw;
  transform: translate(-50%); }
  #logo svg {
    height: 24px;
    width: 48px; }
    #logo svg path {
      fill: #495572; }

#page-nav {
  position: fixed;
  z-index: 100;
  left: 1.5rem;
  top: 50vh;
  margin-top: -3rem;
  color: #7042E1; }
  #page-nav ul {
    list-style: none;
    padding: 0; }
  #page-nav li:hover {
    cursor: pointer; }
    #page-nav li:hover[tooltip]::before, #page-nav li:hover[tooltip]::after {
      display: inline-block; }

#hero .card {
  background-image: url("./images/toy-robots-blue-hd.jpg"); }

#wrapper {
  max-width: 1304px;
  margin: 0 auto;
  margin-top: 48px;
  display: flex;
  flex-flow: row wrap; }

[tooltip] {
  position: relative; }

[tooltip]::before {
  content: "";
  position: absolute;
  border-width: 6px 5px 0 5px;
  /* depth | bottom diag | right | top diag */
  border-style: solid;
  border-color: #495572 transparent transparent transparent;
  z-index: 100;
  top: 9px;
  left: 20px;
  transform: rotate(90deg);
  display: none; }

[tooltip]::after {
  content: attr(tooltip);
  position: absolute;
  top: -4px;
  left: 26px;
  background: #495572;
  text-align: center;
  color: #F2FDFF;
  padding: 8px;
  font-size: 0.8rem;
  /* min-width: 80px; */
  white-space: nowrap;
  border-radius: 8px;
  pointer-events: none;
  display: none; }

/*# sourceMappingURL=style.css.map */
