@import url(https://fonts.googleapis.com/css?family=Exo:900,900i|Open+Sans);

body {
  color: #292929;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

a {
  font-weight: 900;

  &:visited,
  &:link,
  &:focus,
  &:active,
  &:hover {
    color: #292929;
  }
}

#fp-header {
  color: yellow;
}

h1, h2, h3, #global-nav a {
  text-transform: uppercase;
  font-family: "Exo", sans-serif;
}

h1 {
  font-size: 3em;
  margin: 0;
}

h2 {
  font-size: 2em;
  margin: 0;
}

#global-nav {
  color: #FFF;

  font-size: 1.5em;

  height: 3em;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  background-color: #FFF;
  text-align: center;
  padding: 0 0.5em 0 0.5em;

  a {
    float: right;
    padding: 0.25em 0.5em;
    font-weight: 400;
    color: #FFF !important;
    background-color: #262626;
    /* border: 0.25em solid #292929; */
    border-radius: 0.5em;
    margin: 0.225em;
    color: #292929;
  }
}

a {
  border-radius: 2px 2px 2px 2px;
  padding: 6px 6px 6px 6px;
  text-decoration: none;
}

#instructors {
  text-align: right;
}

#top-header {
  height: calc(100vh - 2em);

  font-size: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #292929;
  color: white;

  h1 {
    font-style: italic;
    /* text-align: center; */
  }

  h3 {
    text-align: center;
    opacity: 0.67;
  }
}

#global-footer {
  background-color: #FFF;
  color: #262626;
  margin: 0;
  padding: 1em 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

#inner-header {
  max-width: 80%;
}

#continue {
  color: #FFF;
  position: absolute;
  top: 95%;

  animation-duration: 10s;
  animation-name: bounce;
  animation-iteration-count: infinite;
}

/* #inner-header { */
/*   width: 80em; */
/*   display: inline-block; */
/* } */

#logo {
  height: 2em;
  margin-right: auto;
  /* position: absolute; */
  /* left: 0; */
}

#global-nav #logo-wrapper {
  background: none;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  border: none;
  float: left;
  margin-right: auto;
}

#pagey {
  border-left: solid 3em red;
  width: 50%;
}

#marketing > section {
  width: 100%;
  min-height: 66vh;
  height: 100vh;
}

.red {
  color: red;
}

.center {
  text-align: center;
  width: 80%;
  margin-left: 10%;
}

.half-block {
  width: 50%;
  /* display: inline-block; */
  float: left;
  background-color: #262626;
  height: 100%;
  color: #FFF;
}

.test {
  width: 8em;
  float: left;
  filter: grayscale(100%) invert(100%);
}

.test2 {
  width: 8em;
  float: left;

  filter: grayscale(100%);
}

.img-block {
  float: left;

  width: 40%;
  min-height: 100%;

  background-color: #262626;
  background-origin: center;
  transform: scaleX(-1);
}

.block-right {
  float: right;
  transform: scaleX(1);
}

.content-block {
  padding: 1em;

  float: right;
  width: calc(60% - 40px);

  &.block-right {
    float: left;
  }
}

#marketing {
  .img-block {
    background-image: url("https://cdn-images-1.medium.com/max/2000/1*bNv_UJfqdxywNSP4vf3UPg.jpeg");
    background-size: cover;
  }
}

.full {
  width: 100%;
  background-color: #262626;
  height: 33vh !important;
  color: yellow;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* @media (max-width: 600px) { */
/*   body { */
/*     font-size: 10px; */
/*     /\* padding: 1em; *\/ */
/*   } */

/*   #top-header { */
/*     h1 { */
/*       font-size: 3em; */
/*       margin-left: 1em; */
/*       float: left; */
/*     } */

/*     h2 { */
/*       clear: both; */
/*       margin-top: 4em; */
/*     } */
/*   } */

/*   #logo { */
/*     width: 12em; */
/*     float: left; */
/*   } */

/*   #inner-header { */
/*     min-width: 100%; */
/*   } */
/* } */

@keyframes bounce {
  0% {
    transform:translateY(-100%);
    opacity: 0;
  }
  5% {
    transform:translateY(-100%);
    opacity: 0;
  }
  15% {
    transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
    transform:translateY(-50%);
  }
  40% {
  	transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
    transform:translateY(-30%);
    opacity: 1;
  }
  70% {
    transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
    transform:translateY(-15%);
  }
  90% {
    transform:translateY(0%);
    padding-bottom: 8px;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
